html {
  font-size: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),
    url("asset/img/erol-ahmed-books-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  height: 50%;
  font-size: 1rem;
  position: relative;
  /* display: flex;
  justify-content: flex-end; */
  color: white;
  background-color: transparent;
}
header {
  background-color: white;
  height: 100%;
  width: 100%;
}
main {
  width:40%;
}

section {
  padding: 2rem;
}
form {
  background: rgba(0,0,0,.5);
  display:flex;
  flex-direction: column;
  width: 230px;
  max-width: 80%;
  padding: 5px;
}
h2{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.registerText {
  padding: 5px 0 0 0;
  font-size: .7rem;
  font-weight: bold;
  color: lightgrey;

}

#emailHelp {
  font-size: .7rem;
}

.signup {
  text-decoration: underline;
}

.text-muted {
  color: white;
}

.card {
  background-color: black;
}

@media screen and (max-width:420px){
  main {
    width: 100%;
  }
  form {
    max-width: 100%;
  }
  body {
    width: 100%;;
  }
}
